* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body::after {
	content: "";
	background: url(../frostpattern.png);
	opacity: 0.09;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

h1 {
	color: #FF7F05;
	font-size: 64px;
	margin-bottom: 10px;
}

p.student {
    text-align: center;
    margin-top: 1%;
}

p {
	margin: 0;
	font-weight: lighter;
	line-height: 1.5;
}

.project p.student {
	margin-bottom: 25px;
}



#container {
	width: 95%;
	margin: 0 auto;
	text-align: left;
}

#header {
	text-align: center;
	margin-bottom: 4%;
}

#header h1 {
	font-size: 72px;
	margin-top: 2.5%;
	font-weight: normal;
	margin-bottom: 0;
}

#header p {
	font-size: 18px;
}

#metaContainer {
	width: 75%;
	margin: 0 auto;
}

.project {
	box-shadow: 2px 2px 5px 0px #FF7F05;
	display: inline-block;
	margin: 1%;
	width: 31.3%;
	/* border: 3px solid rgb(32, 82, 243); */
	background: rgba(32, 82, 243,0.4);
	padding: 2%;
	min-height: 300px;
	vertical-align: top;
	text-align: left;
}

.project:first-child {
	/*margin-top: 5%;*/
}

.project p {
	font-weight: lighter;
	margin: 5px 0;
}

.project p.appName {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.projet p.description {
	display: inline-block;
	margin-right: 10px;
}

.project strong {
	font-weight: normal;
}

.project a:first-of-type {
	margin-right:5px;
}

.projectHeading {
	text-align: center;
}

@media (max-width: 800px) {
	.project {
		display: block;
		width: 80%;
		margin: 2% auto;
	}
	#header h1 {
		font-size: 54px;
	}
	#header p {
		font-size: 15px;
	}

	.project p {
		font-size: 15px;
	}
}